app-side-bar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 5rem;
  bottom: 0%;
  background: #009688;
  box-shadow: 1px 4px 34px rgba(255, 255, 255, 0.25);
  height: 88.8%;
  width: 16.8%;
}
